$primary-color: #f2e4b1;
$primary-color-alpha: rgba($primary-color, 0.5);
$on-primary-color: #242b32;
$secondary-color: #5d495b;
$on-secondary-color: #f3b534;
$background-color: #242b32;
$alternate-background-color: #756660;
$background-color-alpha: rgba(0, 0, 0, 0.1);
$dark-background-color: #242b32;
$surface-color: white;
$on-surface-color: #5d495b;
$error-color: red;
$on-error-color: white;

$text-colors: (
    dark: (
        primary: rgba($on-secondary-color, 0.87),
        secondary: rgba($on-secondary-color, 0.54),
        hint: rgba($on-secondary-color, 0.38),
        disabled: rgba($on-secondary-color, 0.38),
        icon: rgba($on-secondary-color, 0.38),
    ),
    light: (
        primary: white,
        secondary: rgba(white, 0.7),
        hint: rgba(white, 0.5),
        disabled: rgba(white, 0.5),
        icon: rgba(white, 0.5),
    ),
);

$text-emphasis: (
    high: 0.87,
    medium: 0.6,
    disabled: 0.38,
);

$named-breakpoints: (
    "xs": 350px,
    "s": 600px,
    "m": 800px,
    "l": 1420px,
    "xl": 2100px,
    "ipad": (
        min-device-width 768px,
    )
    (
        max-device-width 1024px,
    ),
);

@use '@material/theme' with (
    $primary: $primary-color,
    $on-primary: $on-primary-color,
    $secondary: $secondary-color,
    $on-secondary: $on-secondary-color,
    $background: $background-color,
    $surface: $surface-color,
    $on-surface: $on-surface-color,
    $error: $error-color,
    $on-error: $on-error-color,
    $text-colors: $text-colors,
    $text-emphasis: $text-emphasis
);
// @use "@material/typography" with (
//     $font-family: unquote("CaviarDreams")
// );
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";
@use "@material/tab";
@use "@material/button";
@use "@material/fab";
@use "@material/fab/mdc-fab";
@use "@material/linear-progress/mdc-linear-progress";
@use "@material/textfield";
@use "@material/snackbar";
@use "@material/snackbar/mdc-snackbar";
@use "@material/drawer/mdc-drawer";
@use "@material/list";
@use "@material/list/mdc-list";
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/data-table";
@use "@material/card";
@use "@material/dialog";
@use "@material/chips";
@use "@material/chips/mdc-chips";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/select";
@use "@material/select/mdc-select";
@use "@material/layout-grid/mdc-layout-grid";
@use "@material/switch";
@use "@material/switch/mdc-switch";
// @use "slick-carousel/slick/slick";
@use "@material/elevation";

@include button.core-styles;
@include list.core-styles;
@include dialog.core-styles;
@include card.core-styles;
@include data-table.core-styles;
@include icon-button.core-styles;
@include textfield.core-styles;

@mixin flex($direction: row, $align: center, $justify: center) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@font-face {
    font-family: "Beyno";
    src: url(../fonts/beyno/BEYNO/BEYNO.ttf) format("truetype"), url(fonts/beyno/BEYNO/BEYNO.otf) format("opentype");
}

@font-face {
    font-family: "CaviarDreams";
    src: url(../fonts/caviar_dreams/CaviarDreams.ttf) format("truetype");
}

@font-face {
    font-family: "CaviarDreamsBold";
    src: url(../fonts/caviar_dreams/CaviarDreams_Bold.ttf) format("truetype");
}

// Created by Max Luster (@maxluster)
// Usage instructions at https://bugsnag.com/blog/responsive-typography-with-chained-media-queries
// Requires SASS >= 3.3
// Enhanced by Breakpoint 2.4.x and Compass 1.0 (alpha)
// For SASS 3.2.x support, use https://gist.github.com/maxluster/c9ecc6e4a6770e507c2c

// Provides a simplified syntax for chaining media queries across named or numeric breakpoints
@mixin responsive($properties, $default-value, $responsive-values) {
    // No named breakpoints by default
    $named-breakpoints: () !default;

    // Apply default property values
    @each $property in $properties {
        #{$property}: #{$default-value};
    }

    @each $breakpoint, $value in $responsive-values {
        // Get named breakpoint values
        @if type-of($breakpoint) == string {
            @if (map-has-key($named-breakpoints, $breakpoint)) {
                $breakpoint: map-get($named-breakpoints, $breakpoint);
            } @else {
                @warn "Couldn't find named breakpoint: " + $breakpoint;
            }
        }

        // Use Breakpoint if it exists
        @if mixin-exists("breakpoint") {
            // Apply at breakpoint
            @include breakpoint($breakpoint) {
                @each $property in $properties {
                    #{$property}: #{$value};
                }
            }
        }
        // Fallback to min-width media queries
        @else {
            @media screen and (min-width: $breakpoint) {
                @each $property in $properties {
                    #{$property}: #{$value};
                }
            }
        }
    }
}

// Extras!

// Use $named-breakpoints with block-style media queries
@mixin named-breakpoint($breakpoint) {
    @if type-of($breakpoint) == string {
        @if (map-has-key($named-breakpoints, $breakpoint)) {
            $breakpoint: map-get($named-breakpoints, $breakpoint);
            @if mixin-exists("breakpoint") {
                @include breakpoint($breakpoint) {
                    @content;
                }
            } @else {
                @media screen and (min-width: $breakpoint) {
                    @content;
                }
            }
        } @else {
            @warn "Couldn't find named breakpoint: " + $breakpoint;
        }
    }
}

// Create a scope for a local set of named breakpoints
@mixin with-named-breakpoints($context-breakpoints) {
    $old: $named-breakpoints;
    $named-breakpoints: map-merge($named-breakpoints, $context-breakpoints) !global;
    @content;
    $named-breakpoints: $old !global;
}

@mixin hero($url, $cover: cover) {
    min-height: 250px;
    background-image: url($url);
    height: 30vh;
    display: block;
    background-position: center;
    background-size: $cover;
}

//**************************
//
// MAIN
//
//**************************

.hide-scroll {
    overflow: hidden;
}

#purchase-fab {
    @include fab.accessible($on-secondary-color);
    @include fab.ink-color($secondary-color);
    //@include fab.extended-fluid;
}

// @media screen and (max-width: 1100px) {
//     .mdc-fab--extended {
//         @include fab.extended-padding(5px, 5px)
//     }
// }

// #purchase-fab .mdc-fab__label {
//     @include responsive(
//         "display",
//         none,
//         (
//             1100px: block
//         )
//     );
// }

.announcement-close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    opacity: 0.5;
    cursor: pointer;
}

#announcement-banner {
    background-color: $secondary-color;
    color: white;
    padding: 1em 3em;
    font-size: 1.25em;
    display:none;
}

.mdc-snackbar {
    @include snackbar.fill-color($on-secondary-color);
    @include snackbar.label-ink-color($background-color);
}

* {
    font-family: CaviarDreams;
    font-weight: bold;
    outline: 0;
}

html {
    @include responsive(
        "font-size",
        11px,
        (
            "xs": 12px,
            450px: 13px,
            1100px: 14px,
            "l": 15px,
            1600px: 16px,
            "ipad": 14px,
        )
    );
}

body {
    @include theme.prop(background-color, $alternate-background-color);
    margin: 0;
}

footer {
    @include flex($direction: column);
    background-color: $background-color;
    color: $on-secondary-color;
}

.pipe {
    color: $on-secondary-color;
}

#footer-links,
#policy-links {
    width: 100%;
}

#policy-links {
    @include flex();
}

#footer-links {
    @include flex($justify: space-evenly);
}

.mdc-tab-bar {
    background-color: $background-color;
}

.policy {
    font-size: 0.6em;
}

.mdc-tab-bar {
    position: sticky;
    top: 0;
}

.mdc-tab .mdc-tab__text-label,
.default-tab-color,
.tab-bar-icon {
    color: $on-secondary-color;
}

.default-link {
    text-decoration: none;
    outline: 0;
}

.slick-initialized .slick-slide {
    @include flex(column, flex-start, space-evenly);
}

.image-post {
    height: 20vh;
}

.fill-screen {
    height: calc(100vh - 52px);
}

#hero-logo::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: block;
    background: url("../../images/LAUX-color/LAUX-color/LAUX-blk-yellow-bg.png") no-repeat left center;
    background-size: auto 100%;
}

.disabled-anchor {
    cursor: default;
}

.tab-container {
    @include flex();
}

.social-media-buttons {
    @include flex;
}

.image-and-caption {
    @include flex($direction: column);
}

.image-caption {
    @include flex;
}

.image-description {
    @include flex($direction: column);
}

.icon {
    transition: 0.3s;
}

.default-icon,
.tab-bar-scroll-text,
.default-link-scroll,
.mdc-tab .mdc-tab__text-label.default-text-scroll {
    color: $on-secondary-color;
}

.icon:hover,
.mdc-tab:hover .default-text-scroll,
.fa-quote {
    color: $primary-color;
}

// .mdc-list-item:hover .tab-bar-scroll-text {
//     color: $background-color;
// }

.mdc-menu-my-story {
    z-index: 2000;
    padding-top: 0;
    position: fixed;
    background-color: $background-color;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 0px rgba(0, 0, 0, 0.14),
        0px 10px 10px 0px rgba(0, 0, 0, 0.12);
}

.tab-bar-scroll {
    @include elevation.elevation(1, $secondary-color, 0.2);
    // background-color: black;
}

.no-margin {
    margin: 0;
}

.mdc-text-field.subscribe:not(.mdc-text-field--focused) {
    @include textfield.outline-color($on-secondary-color);
    @include textfield.outline-shape-radius(0);
    @include textfield.label-color($on-secondary-color);
    @include textfield.hover-outline-color($on-secondary-color);
    @include textfield.ink-color($on-secondary-color);
}

.mdc-text-field.subscribe.mdc-text-field--focused {
    @include textfield.caret-color($primary-color);
    @include textfield.label-color($primary-color);
    @include textfield.ink-color($primary-color);
}

.subscribe.mdc-text-field--focused .mdc-notched-outline__leading,
.subscribe.mdc-text-field--focused .mdc-notched-outline__trailing {
    border-radius: 0;
}

.mdc-tab {
    @include tab.active-text-label-color($primary-color);
}

.mdc-drawer-scrim {
    top: 52px;
}

#subscription-form {
    display: flex;
    align-items: center;
}

#subscription-form {
    @include responsive(
        "flex-direction",
        column,
        (
            1100px: row,
        )
    );
}

#logo-container {
    margin-left: 0.5em;
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    @include flex();
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}

#logo-container,
.mdc-tab-scroller {
    margin-right: auto;
}

#purchase-fab {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

@media (min-width: 1100px) {
    #purchase-fab {
        bottom: 1.5rem;
        right: 1.5rem;
    }
    .overflow-menu {
        display: none;
    }
}

.default-link {
    color: $on-secondary-color;
}


.final-descriptor {
    color: $secondary-color;
    font-family: CaviarDreamsBold;
}

@media (max-width: 1100px) {
    .mdc-tab,
    .pipe {
        display: none;
    }
    .overflow-menu {
        display: block;
    }
    .mdc-tab-scroller {
        margin-right: 0;
    }
    .descriptors {
        right: 2em;
        text-align: right;
    }
    .final-descriptor{
        color: $on-secondary-color;
    }
    #mybook {
        font-size: 0.8rem;
    }
}

.mdc-tab-scroller__scroll-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mdc-list-item[dir="rtl"] .mdc-list-item__graphic,
[dir="rtl"] .mdc-list-item .mdc-list-item__graphic {
    margin-left: 0 !important;
    margin-right: 32px !important;
}

.mdc-snackbar {
    z-index: 1000;
}

#left-splash,
#lines-splash,
#hero-logo::after {
    @include responsive(
        "display",
        none,
        (
            1100px: block,
        )
    );
}

#hero-logo-container {
    @include responsive(
        "left",
        0,
        (
            //   "xs" : 12px,
                //  450px : 13px,
                1100px: 35% // 1250px: 35%,
                //    "l" : 25%,
                // 1600px : 33%,
                // 1650px : 33%
                // "ipad" : 25%
        )
    );
}

:not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item:before {
    background-color: $primary-color;
}

.mdc-drawer .mdc-list-item__text,
.mdc-drawer .mdc-list-item__graphic {
    color: $background-color !important;
}

#subscribe2 {
    @include button.ink-color($on-secondary-color);
    @include button.height(48px);
    width:100%;
}

#subscribe2:hover {
    @include button.ink-color($primary-color);
}


#subscribe {
    @include responsive(
        "display",
        none,
        (
            //   "xs" : 12px,
                1100px: block
        )
    );
}


#subscribe2 {
    @include responsive(
        "display",
        block,
        (
            //   "xs" : 12px,
            1100px: none
        )
    );
}

//**************************
//
// INDEX
//
//**************************

@mixin absoluteLeft($z-index) {
    position: absolute;
    left: 0px;
    z-index: $z-index;
}

.space {
    display: block;
    margin-bottom: 0.25em;
}

.descriptors {
    position: absolute;
    top: 1.5em;
    bottom: 0;
    left: 2em;
    // right: 0;
    // margin: auto;
    color: $on-primary-color;
    font-size: 3rem;
    font-weight: bold;
    height: 50%;
    z-index: 3;
}

.descriptor {
    opacity: 0;
    transform: translateY(0.25em);
    transition: transform 0.9s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.9s cubic-bezier(0.215, 0.61, 0.355, 1);
    text-transform: uppercase;
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
}

#left-image {
    @include absoluteLeft(-1);
}

#right-image {
    @include absoluteLeft(-2);
}

#social-media-marquee-container {
    background-color: $primary-color;
    height: 45vh;
}

#social-media-marquee {
    // padding: 1em 3em 1em 3em;
    height: 40vh;
}

.marquee-item {
    color: $on-primary-color;
    padding: 0.3em 1.5em 0.3em 1.5em;
}

#highlights {
    @include flex();
    padding: 2em 30em;
    font-size: 1.1rem;
}

#highlights {
    @include responsive(
        "padding",
        2em 2em,
        (
            //   "xs" : 12px,
                1100px: 2em 5em,
            1250px: 2em 10em,
            //    "l" : 25%,
                1600px: 2em 20em,
            1800px: 2em 30em // "ipad" : 25%
        )
    );
}

.image-description:not(.book-description) {
    @include responsive(
        "display",
        none,
        (
            1100px: flex,
        )
    );
}

.marquee-item:hover {
    background-color: rgba($on-secondary-color, 0.3);
    // opacity: 0.3;
}

.social-media-image {
    height: 30vh;
    border-radius: 10px;
}

.username {
    font-family: CaviarDreamsBold;
}

.timestamp {
    font-style: italic;
}

.quote-attribution {
    text-align: right;
    // color: $surface-color;
    font-size: 1.15rem;
    text-transform: uppercase;
}

.slick-list.draggable,
.slick-track {
    height: 100%;
}

.username, .timestamp {
    @include responsive(
        "display",
        none,
        (
            //   "xs" : 12px,
                1000px: block
        )
    );
}

//**************************
//
// My Story
//
//**************************

#video {
    border: 0;
    width: 100%;
    height: 100%;
}

#video-container {
    height: 50%;
}

#my-story-container {
    height: 50%;
    @include flex($direction: column, $align: flex-start);
    @include responsive(
        "margin",
        0em 2em,
        (
            //   "xs" : 12px,
                1100px: 0em 5em,
            1250px: 0em 10em,
            //    "l" : 25%,
                1600px: 0em 20em,
            1800px: 0em 30em // "ipad" : 25%
        )
    );
}

#my-story-container-first-row {
    height: 100%;
    @include flex($justify: space-evenly);
}

#my-story-container-first-row {
    @include responsive(
        "flex-direction",
        column,
        (
            1100px: row,
        )
    );
}

.my-story-short .first-part {
    font-family: CaviarDreamsBold;
    font-weight: bold;
    color: $primary-color;
}

.my-story-short {
    text-transform: uppercase;
    font-size: 1.25rem;
    width: 65%;
    flex-shrink: 0;
    // margin: 1em;
}

.my-story-long {
    margin-left: 1em;
}

.my-story-long {
    @include responsive(
        "margin-left",
        0,
        (
            1100px: 1em,
        )
    );
}

//**************************
//
// My Team
//
//**************************

#my-team-container {
    @include flex($direction: column);
    padding: 1em;
}

.mdc-card.team-card {
    width: 60vw;
    height: 275px;
    @include flex($align: flex-start);
}

.team-card-image {
    border-radius: 4px 0px 0px 4px;
}

.team-card-text {
    @include flex($direction: column, $align: flex-start);
    width: 100%;
    height: 100%;
}

.card-header.team-card-header {
    margin: 0;
    padding-bottom: 0;
}

.mdc-list-divider {
    margin: 0.5em;
    width: 95%;
    border-bottom-color: rgba($secondary-color, 0.5);
}

.team-card-link {
    color: $primary-color;
}

#team-hero {
    @include hero("../../images/itslit.jpg");
}

.team-card-body {
    @include flex($direction: column, $justify: space-around, $align: flex-start);
}

.team-card-quote {
    // font-size: 0.8rem;
    text-align: right;
    align-self: flex-end;
    font-style: italic;
}

.mdc-drawer-team {
    // position: absolute;
    // top: 52px;
    width: 100vw;
    max-width: 100%;
    // height: calc(100vh - 52px);
    padding: 0 2em;
    z-index: 100;
    // height: calc(450px + 5em + 40vh);
}

// .mdc-drawer-app-content {
//     flex: auto;
//     overflow: auto;
//     position: relative;
// }

.mdc-drawer-team .mdc-drawer__header {
    text-align: center;
}

.mdc-drawer-team .mdc-drawer__title,
.mdc-drawer-team .mdc-drawer__subtitle {
    color: $secondary-color;
    font-weight: bolder;
}

.mdc-drawer-team .mdc-drawer__content {
    height: 100%;
    @include flex($direction: column, $justify: flex-start);
}

.team-drawer-close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    opacity: 0.5;
    cursor: pointer;
}

.team-card {
    @include responsive(
        "pointer-events",
        all,
        (
            1100px: none,
        )
    );
}

.team-card {
    @include responsive(
        "cursor",
        pointer,
        (
            1100px: default,
        )
    );
}

.team-card .mdc-list-divider,
.team-card .team-card-body {
    @include responsive(
        "display",
        none,
        (
            1100px: flex,
        )
    );
}

.team-card .team-card-text {
    @include responsive(
        "display",
        none,
        (
            600px: flex,
        )
    );
}

.team-card-image {
    @include responsive(
        "width",
        150px,
        (
            1100px: 275px,
        )
    );
}

.team-card-image,
.mdc-card.team-card {
    @include responsive(
        "height",
        150px,
        (
            1100px: 275px,
        )
    );
}

.mdc-card.team-card {
    @include responsive(
        "width",
        150px,
        (
            600px: 50vw,
            1100px: 70vw
        )
    );
}



//**************************
//
// Contact Me
//
//**************************

#contact-form {
    margin: 3em;
}

.mdc-layout-grid__inner-contact {
    @include flex;
}

#description-container,
#story-container {
    @include textfield.fill-color(white);
    border-radius: 4px;
}

.mdc-text-field {
    @include textfield.label-color($background-color);
    @include textfield.ink-color($background-color);
    @include textfield.caret-color($background-color);
    @include textfield.hover-bottom-line-color($on-secondary-color);
    @include textfield.line-ripple-color($on-secondary-color);
}

.mdc-select {
    @include select.label-color($background-color);
    @include select.hover-bottom-line-color($on-secondary-color);
    @include select.focused-label-color($background-color);
    @include select.ink-color($background-color);
}

.mdc-select__dropdown-icon {
    filter: grayscale(1);
}

.mdc-switch {
    @include switch.toggled-on-color($on-secondary-color);
}

#btn,
#contact-btn {
    @include button.disabled-ink-color($background-color);
    @include button.container-fill-color($on-secondary-color);
    @include button.disabled-container-fill-color(rgba($secondary-color, 0.5));
}

.mdc-select .mdc-list {
    @include list.item-primary-text-ink-color($background-color);
    @include list.item-meta-ink-color($background-color);
}

.mdc-select .mdc-list-item--selected {
    @include list.item-primary-text-ink-color($secondary-color);
    background-color: rgba($on-secondary-color, 0.2);
}

.hero {
    position: relative;
    overflow: hidden;
    padding: 0;
}

.small-text {
    font-family: CaviarDreamsBold;
    font-weight: bold;
    font-size: 2rem;
}

.main-text {
    font-size: 1.3rem;
}

.hero-container {
    position: relative;
}

.hero-content {
    text-transform: uppercase;
    color: $primary-color;
    position: absolute;
    top: 3em;
    // right: 25em;
}

#contact-hero {
    @include hero("../../images/person-using-macbook-air.jpg");
}

.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(
        -106deg,
        rgba(0, 0, 0, 0.5) calc((1140px / 1.8) + ((100vw - 1180px) / 2)),
        rgba(0, 0, 0, 0) 0
    );
}

.hero-content {
    @include responsive(
        "right",
        2em,
        (
            //   "xs" : 12px,
                "m": 7em,
            1100px: 12em,
            1250px: 16em,
            "l": 20em,
            1600px: 25em,
            1800px: 35em
        )
    );
}

//**************************
//
// Our Story
//
//**************************

.tooltip {
    pointer-events: none;
    position: absolute;
    font-size: 1rem;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    text-align: center;
    background: $background-color;
    padding: 8px;
    z-index: 5;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    color: $primary-color;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #eee;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: none;
}
.tooltip.active {
    display: block;
}
.tooltip:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
}

.mdc-layout-grid {
    padding: 0;
    // height: calc(100vh - 48px - 1em);
}

.mdc-layout-grid__inner {
    margin: 1em;
}

#announcement {
    min-height: 10vh;
}

// #map-and-stories,
// #map-container,
// #previous-stories-container {
//     // height: 55vh;
//     @include responsive("min-height", 55vh,
//   (
//     //   "xs" : 12px,
//     //  450px : 13px,
//     // 1100px : 14px,
//     //    "l" : 15px,
//     // 1600px : 16px,
//     // "ipad" : 14px
//     // 600px : block
//   )
// )
// }

#input-form {
    margin-bottom: 0;
    padding-bottom: 1em;
}

.input-form-container {
    min-height: calc(30vh - 52px - 3em);
    background-color: $primary-color;
}

.input-form-container h3 {
    font-family: CaviarDreamsBold;
    margin-top: 0;
    padding-top: 1em;
}

object,
#story-container {
    height: 100%;
    width: 100%;
}

.mdc-select,
.mdc-select__anchor,
.mdc-select__menu {
    width: 100%;
}

#story {
    resize: none;
}

#previous-stories-container {
    overflow: auto;
}

#map-container {
    text-align: center;
}

#map {
    vertical-align: middle;
}

#geography {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#submit {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#zoom-control {
    position: absolute;
    top: calc(52px + 4em + 15vh);
}

.mouseDown {
    cursor: all-scroll;
}

#pan-control {
    position: absolute;
    top: calc(52px + 4em + 10vh + 135px);
}

.mdc-select__anchor {
    min-width: 0;
}

#description,
#story {
    margin: 0;
    border-radius: 4px;
}

label {
    width: 100%;
}

.story-card-content {
    padding: 0.5em;
    @include flex($direction: column, $align: flex-start);
}

.submitted-by,
.timestamp {
    font-size: 0.7rem;
}

.submitted-by {
    margin-top: 0.8em;
}

.location {
    font-size: 0.85rem;
    margin-bottom: 0.8em;
}

#countrySelectMenu {
    max-height: 300px;
}

#cityStateLabel {
    margin-top: 0.5em;
}

#our-story-hero {
    @include hero("../../images/jet-cloud-landing-aircraft-46148.jpg");
}

.header {
    text-transform: uppercase;
    font-family: CaviarDreamsBold;
    font-size: 1.5rem;
    color: $primary-color;
}

.our-story-description {
    font-size: 1.2rem;
}

#announcement .mdc-layout-grid__cell {
    margin: 0em 5em;
}

#map-and-stories,
#map-container,
#previous-stories-container {
    @include responsive(
        "min-height",
        30vh,
        (
            //   "xs" : 12px,
                //  450px : 13px,
                // 1100px : 14px,
                //    "l" : 15px,
                // 1600px : 16px,
                // "ipad" : 14px
                600px: 55vh
        )
    );
}

#zoom-control {
    @include responsive(
        "display",
        none,
        (
            //   "xs" : 12px,
                //  450px : 13px,
                // 1100px : 14px,
                //    "l" : 15px,
                // 1600px : 16px,
                // "ipad" : 14px
                600px: inherit
        )
    );
}

#map-container {
    @include flex($justify: flex-start);
}

//**************************
//
// My Media
//
//**************************

.media-container {
    @include flex;
    padding: 1em;
    @include responsive(
        "justify-content",
        center,
        (
            1100px: flex-start
        )
    );
}

.image {
    @include elevation.elevation(3);
}

.image-and-caption {
    transition: transform 0.9s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.image-and-caption:hover {
    transform: scale(1.05);
}

.image-description {
    margin-left: 2.5em;
}

#media-hero {
    @include hero("../../images/photo-of-woman-reading-on-tablet-3060348.jpg");
}

// .all-media-container {
//     margin: 1em 15em;
// }

.all-media-container {
    @include responsive(
        "margin",
        1em 2em,
        (
            "xs": 1em 3em,
            1100px: 1em 4em,
            1250px: 1em 12em,
            "l": 1em 16em,
            1600px: 1em 20em,
            1800px: 1em 30em // "ipad" : 25%,
        )
    );
}

//**************************
//
// Book Pages
//
//**************************

// .image-description.book-description {
//     margin: 1em 15em 1em 15em;
// }

.mdc-button-purchase,
.mdc-button-submit {
    @include button.height(3em);
}

#book-hero {
    @include hero("../../images/book-cover.jpg");
}

.main-content-container {
    @include flex($direction: column, $justify: flex-start);
}

.main-content-container {
    @include responsive(
        "margin",
        1em 2em,
        (
            "xs": 1em 3em,
            1100px: 1em 4em,
            1250px: 1em 12em,
            "l": 1em 16em,
            1600px: 1em 20em,
            1800px: 1em 30em // "ipad" : 25%,
        )
    );
}

.book-summary {
    padding: 0.5em;
    @include flex($justify: flex-start);
    @include responsive(
        "flex-direction",
        column,
        (
            1100px: row,
        )
    );
}

//**************************
//
// Events
//
//**************************

#events-container {
    margin: 1em;
}

#upcoming-events {
    @include flex;
}

.share.fa {
    margin-right: 32px;
}

.share {
    color: black;
}

.dialog-close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    opacity: 0.5;
    cursor: pointer;
}

.mdc-card__action-buttons,
.mdc-card__action--button {
    height: 100%;
}

.mdc-card {
    margin: 0.5em;
    @include elevation.elevation(1);
}

.events {
    // height: 500px;
    width: 350px;
}

.card-header {
    // margin: 1.25rem 0;
    padding: 1em;
    @include flex($justify: flex-start);
    // display: flex;
    // align-items: center;
}

.card-header h2,
.card-header h3 {
    margin: 0;
}

.card-icon {
    padding-right: 8px;
}

.card-body {
    padding: 0em 1em 0.5em 1em;
    height: 100%;
}

#events-hero {
    @include hero("../../images/people-standing-behind-glistening-strips-of-gold-curtain-3394222.jpg");
}

.mdc-button-rsvp:not(:disabled) {
    @include button.ink-color($on-secondary-color);
    @include button.height(2em);
}

.mdc-card__action--icon:not(:disabled) {
    color: $on-secondary-color;
}

.mdc-chip {
    @include chips.ink-color($background-color);
    @include chips.height(2.5rem);
}

.mdc-dialog .mdc-dialog__title {
    color: $background-color;
}

//**************************
//
// Urban Glossary
//
//**************************

.wowbook-controls {
    background-color: $secondary-color;
    // width: 50%;
    border: 1px solid $on-primary-color;
    background-image: none;
}

.wowbook-toolbar-container.wowbook-top {
    position: sticky;
    padding-top: 10px;
    width: 99.8%;
}

.mdc-card.glossary-item {
    padding: 0.8em;
    border-radius: 0;
    color: black;
}

.mdc-card.glossary-item-selected {
    background-color: $primary-color-alpha;
}

.glossary-word {
    color: $on-secondary-color;
    font-size: 1rem;
    text-transform: uppercase;
}

.glossary-type {
    text-transform: lowercase;
}

.glossary-definition,
.glossary-no-stress {
    color: $background-color;
    // font-size: 1.1rem;
}

.b-selector .b-current,
.b-selector ul {
    background-color: $secondary-color;
}

.glossary-stress {
    color: $on-secondary-color;
}

.shadow-z1 {
    @include elevation.elevation(1);
}

#book-container {
    @include flex($direction: column);
}

#page-controls-container {
    @include flex;
}

// .b-wrap.b-page-cover {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

.wowbook-hardpage .wowbook-page-content {
    background-color: $on-secondary-color;
    background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
}

.wowbook-hardpage .wowbook-page-content h3 {
    font-family: "Beyno";
    text-align: center;
    font-size: 3rem;
}

.b-text {
    font-size: 0.8rem;
}

.glossary-hidden {
    display: none;
}

.glossary-show {
    display: block;
}

ol {
    margin-top: 0;
    @include responsive(
        "padding",
        0.6em,
        (
            800px: auto,
        )
    );
}

.glossary-definition,
.glossary-no-stress {
    @include responsive(
        "font-size",
        0.7rem,
        (
            450px: 0.8rem,
            1100px: 1rem,
        )
    );
}

.wowbook-page.wowbook-hardpage > .wowbook-page-content {
    @include flex;
}

// #look-inside {
//     @include flex($direction: column);
//     position: absolute;
//     z-index: 1000;
//     @include responsive(
//         "display",
//         none,
//         (
//             1100px: flex,
//         )
//     );
// }

//**************************
//
// Purchase Your Copy
//
//**************************

#purchase-container {
    @include flex;
}

.mdc-data-table {
    margin: 1em 2em 1em 2em;
}

#purchase-book-cover {
    @include responsive(
        "display",
        none,
        (
            800px: block
        )
    );
}

.mdc-data-table {
    @include responsive(
        "width",
        90vw,
        (
            800px: 45vw
        )
    );
}

.mdc-data-table__table {
    white-space: normal;
}

.yes {
    color: green;
}

.no {
    color: red;
}

.maybe {
    color: orange;
}

.base-font {
    font-family: CaviarDreams;
}

.center-text {
    text-align: center;
}

#purchase-hero {
    @include hero("../../images/crop-seller-passing-purchases-in-paper-shopping-bags-4173174.jpg");
}

//**************************
//
// Privacy Policy
//
//**************************

#privacy-hero {
    @include hero("../../images/person-holding-white-ceramic-coffee-cup-leaning-on-brown-179912.jpg");
}

#policy-container {
    @include responsive(
        "margin",
        1em 2em,
        (
            400px: 1em 7em,
            800px: 1em 15em,
            1200px: 1em 20em,
        )
    );
}

#policy-container h2,
#policy-container h3 {
    color: $primary-color;
}

//**************************
//
// Credits
//
//**************************

#credits-hero {
    @include hero("../../images/person-writing-on-a-tag-3826675.jpg");
}

#credits {
    @include flex();
    @include responsive(
        "flex-direction",
        column,
        (
            1100px: row,
        )
    );

    @include responsive(
        "margin",
        0em 2em,
        (
            //   "xs" : 12px,
                1100px: 0em 5em,
            1250px: 0em 10em,
            //    "l" : 25%,
                1600px: 0em 12em,
            1800px: 0em 15em // "ipad" : 25%
        )
    );
}

#right-credits {
    @include responsive(
        "margin-left",
        0em,
        (
            //   "xs" : 12px,
                1100px: 3em
        )
    );
}
