DirectoryIndex disabled
RewriteEngine on

#MAINTENANCE-PAGE REDIRECT
RewriteCond %{ENV:REDIRECT_STATUS} 503
RewriteRule .* /home.html [R=302,L]

RewriteCond "%{HTTPS}"          "!on" [OR]
RewriteCond "%{HTTP_HOST}"      "!^lauxtheauthor\.com" [NC]
RewriteRule "^(.*)"             "https://lauxtheauthor.com/$1" [R=301]
RewriteCond "%{HTTPS}"          "on"
RewriteCond "%{HTTP_HOST}"      "^lauxtheauthor\.com" [NC]
RewriteRule "^(.*)$"            "http://localhost:3000/$1" [P,L]