<section class="hero">
    <img src="../../images/person-using-macbook-air.jpg" alt="{{type}} hero banner" />
    <article>
        <h1>Contact Me</h1>
        <h2>Share your stories or ask me about mine</h2>
    </article>
</section>

<form action="/" method="POST" id="contact-form">
    <div class="mdc-layout-grid--main">

        <div class="mdc-layout-grid__inner--main">

            <div
                class="mdc-layout-grid__cell--main mdc-layout-grid__cell--main--span-6-desktop mdc-layout-grid__cell--main--span-4-tablet">
                <label class="theme-light mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
                    <span class="mdc-notched-outline">
                        <span class="mdc-notched-outline__leading"></span>
                        <span class="mdc-notched-outline__notch">
                            <span class="mdc-floating-label">First Name *</span>
                        </span>
                        <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <input type="text" class="contact-form-input contact-form-data-input mdc-text-field__input" aria-labelledby="first-name"
                        name="first-name" id="first-name">
                </label>
            </div>

            <div
                class="mdc-layout-grid__cell--main mdc-layout-grid__cell--main--span-6-desktop mdc-layout-grid__cell--main--span-4-tablet">
                <label class="theme-light mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
                    <span class="mdc-notched-outline">
                        <span class="mdc-notched-outline__leading"></span>
                        <span class="mdc-notched-outline__notch">
                            <span class="mdc-floating-label">Last Name *</span>
                        </span>
                        <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <input type="text" class="contact-form-input contact-form-data-input mdc-text-field__input" aria-labelledby="last-name"
                        name="last-name" id="last-name">
                </label>
            </div>

            <div
                class="mdc-layout-grid__cell--main mdc-layout-grid__cell--main--span-6-desktop mdc-layout-grid__cell--main--span-4-tablet">
                <label class="theme-light mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
                    <span class="mdc-notched-outline">
                        <span class="mdc-notched-outline__leading"></span>
                        <span class="mdc-notched-outline__notch">
                            <span class="mdc-floating-label">Email *</span>
                        </span>
                        <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <input type="text" class="contact-form-input contact-form-data-input mdc-text-field__input" aria-labelledby="email"
                        name="email" id="email">
                </label>
            </div>

            <div
                class="mdc-layout-grid__cell--main mdc-layout-grid__cell--main--span-6-desktop mdc-layout-grid__cell--main--span-4-tablet">
                <label class="theme-light mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
                    <span class="mdc-notched-outline">
                        <span class="mdc-notched-outline__leading"></span>
                        <span class="mdc-notched-outline__notch">
                            <span class="mdc-floating-label">Personal Pronouns</span>
                        </span>
                        <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <input type="text" class="contact-form-input contact-form-data-input mdc-text-field__input"
                        aria-labelledby="personal-pronouns" name="personal-pronouns" id="personal-pronouns">
                </label>
            </div>

            <div
                class="mdc-layout-grid__cell--main mdc-layout-grid__cell--main--span-6-desktop mdc-layout-grid__cell--main--span-4-tablet">

                <div class="contact-form-input mdc-select mdc-select--outlined" data-mdc-auto-init="MDCSelect">
                    <div class="mdc-select__anchor" aria-labelledby="outlined-select-label">
                        <span class="mdc-notched-outline">
                            <span class="mdc-notched-outline__leading"></span>
                            <span class="mdc-notched-outline__notch">
                                <span id="outlined-select-label" class="mdc-floating-label">Type of Request * </span>
                            </span>
                            <span class="mdc-notched-outline__trailing"></span>
                        </span>
                        <span class="mdc-select__selected-text-container">
                            <param id="type-of-request" name="type-of-request" class="contact-form-data-input mdc-select__selected-text">
                            </param>
                        </span>
                        <span class="mdc-select__dropdown-icon">
                            {{> dropdownArrow}}
                        </span>
                    </div>

                    <div class="mdc-select__menu mdc-menu mdc-menu-surface">
                        <ul class="mdc-list">

                            <li tabindex="0" class="mdc-list-item mdc-list-item--disabled" data-value="">
                                <span class="mdc-list-item__ripple"></span>
                                <span class="mdc-list-item__text">
                                </span>
                            </li>

                            <li class="mdc-list-item {{isSelected requestType 'general'}}" data-value="general-request">
                                <span class="mdc-list-item__ripple"></span>
                                <span class="mdc-list-item__text">
                                    General Comment / Request
                                </span>
                            </li>

                            <li class="mdc-list-item {{isSelected requestType 'media'}}" data-value="media-request">
                                <span class="mdc-list-item__ripple"></span>
                                <span class="mdc-list-item__text">
                                    Media Request
                                </span>
                            </li>

                            <li class="mdc-list-item {{isSelected requestType 'event'}}" data-value="event-request">
                                <span class="mdc-list-item__ripple"></span>
                                <span class="mdc-list-item__text">
                                    Event Request
                                </span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div id="switch-label-container"
                class="mdc-layout-grid__cell--main mdc-layout-grid__cell--main--align-middle mdc-layout-grid__cell--main--span-3-desktop mdc-layout-grid__cell--main--span-2-tablet mdc-layout-grid__cell--main--span-2-phone">
                <label class="text-on-background" for="subscribe-to-updates">Subscribe to Updates</label>
            </div>

            <div id="switch-container"
                class="mdc-layout-grid__cell--main mdc-layout-grid__cell--main--align-middle mdc-layout-grid__cell--main--span-3-desktop mdc-layout-grid__cell--main--span-2-tablet mdc-layout-grid__cell--main--span-2-phone">
                <div class="mdc-form-field">
                    <div class="mdc-switch" data-mdc-auto-init="MDCSwitch">
                        <div class="mdc-switch__track"></div>
                        <div class="mdc-switch__thumb-underlay">
                            <div class="mdc-switch__thumb"></div>
                            <input name="subscribe-to-updates" type="checkbox" id="subscribe-to-updates"
                                class="contact-form-input contact-form-data-input mdc-switch__native-control" role="switch" aria-checked="false">
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="mdc-layout-grid__cell--main mdc-layout-grid__cell--main--span-12-desktop mdc-layout-grid__cell--main--span-8-tablet">
                <label class="theme-light mdc-text-field mdc-text-field--outlined mdc-text-field--textarea"
                    data-mdc-auto-init="MDCTextField">
                    <span class="mdc-notched-outline">
                        <span class="mdc-notched-outline__leading"></span>
                        <span class="mdc-notched-outline__notch">
                            <span class="mdc-floating-label">Request/Comment Details *</span>
                        </span>
                        <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <span class="mdc-text-field__resizer">
                        <textarea id="details" name="details" class="contact-form-data-input contact-form-input mdc-text-field__input" rows="8"
                            cols="40" aria-label="Label"></textarea>
                    </span>
                </label>
            </div>

            <div class="mdc-layout-grid__cell--main mdc-layout-grid__cell--main--span-12 mdc-layout-grid__cell--main--span-8-tablet"
                id="submit">

                <button disabled id="contact-btn" type="submit"
                    class="contact-btn mdc-button-submit mdc-button mdc-button--outlined" data-mdc-auto-init="MDCRipple">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">Submit</span>
                </button>

            </div>
        </div>
    </div>
</form>

{{> snackbar type="contact" message="Thank you for reaching out. I'll review your request at my earliest convenience.
Unfortunately, due to volume, I may not be able to respond to all requests."}}