<section class="hero">
        <img src="../../images/person-writing-on-a-tag-3826675.jpg" alt="{{type}} hero banner" />
        <article>
                <h1>Thank You for Visiting</h1>
                <h2>We did not get here on our own</h2>
        </article>
</section>

<div class="mdc-layout-grid--main text-on-background">
        <div class="mdc-layout-grid__inner--main">
                <div
                        class="mdc-layout-grid__cell--main mdc-layout-grid__cell--main--span-6-desktop mdc-layout-grid__cell--main--span-8-tablet">
                        <p>Some of the beautiful images you see on this site were made available by
                                users of <a class="link-on-background" href="https://www.pexels.com/">Pexels.com</a>,
                                which hosts
                                inclusive, free stock photos and videos. Some of the featured users
                                include:</p>
                        <ul>
                                <li><a class="link-on-background"
                                                href="https://www.pexels.com/@cottonbro">@cottonbro</a>
                                </li>
                                <li><a class="link-on-background"
                                                href="https://www.pexels.com/@divinetechygirl">@divinetechygirl</a>
                                </li>
                                <li><a class="link-on-background"
                                                href="https://www.pexels.com/@gustavo-fring">@gustavo-fring</a>
                                </li>
                                <li><a class="link-on-background" href="https://www.pexels.com/@inga-sv">@inga-sv</a>
                                </li>
                                <li><a class="link-on-background"
                                                href="https://www.pexels.com/@joshua-mcknight-442355">@joshua-mcknight-442355</a>
                                </li>
                                <li><a class="link-on-background"
                                                href="https://www.pexels.com/@rethaferguson">@rethaferguson</a>
                                </li>
                                <li><a class="link-on-background"
                                                href="https://www.pexels.com/@the-5th-50003">@the-5th-50003</a>
                                </li>
                                <li><a class="link-on-background"
                                                href="https://www.pexels.com/@the-5th-50003">@thought-catalog-317580</a>
                                </li>
                        </ul>

                        <p>The book that started it all, <a class="link-on-background"
                                        href="/to-all-the-places-ive-had-sex-before"> To All The Places
                                        I've Had Sex Before</a>,
                                was published
                                through <a class="link-on-background" href="/to-all-the-places-ive-had-sex-before">New
                                        Degree
                                        Press</a>, who also developed the promotional video on the <a
                                        class="link-on-background" href="/my-story">My
                                        Story</a> page, with support from the <a class="link-on-background"
                                        href="https://www.creator.institute/">Creator Institute</a>.
                                Specific thanks to the
                                following folks at New Degree Press and the Creator Institute:</p>

                        <ul>
                                <li><a class="link-on-background"
                                                href="https://www.linkedin.com/in/stephaniemckibben/">Stephanie
                                                McKibben</a>
                                </li>
                                <li>Brian Bies</li>
                                <li>Eric Koester</li>
                                <li><a class="link-on-background" href="https://www.behance.net/noemibazon">Noemi
                                                Bažon</a></li>
                                <li>Nekisha Wilkins</li>
                                <li>Zoran Maksimovic</li>
                        </ul>

                </div>
                <div
                        class="mdc-layout-grid__cell--main mdc-layout-grid__cell--main--span-6-desktop mdc-layout-grid__cell--main--span-8-tablet">
                        <p>Communications and social media strategy were developed by <a class="link-on-background"
                                        href="/my-team">Precious
                                        Jenkins</a>.</p>

                        <p>LAUX's beautiful logo and the websites color palette were designed by <a
                                        class="link-on-background" href="http://www.amaranogee.com/">Amara
                                        Nogee</a>.</p>

                        <p>The website was designed and developed by <a class="link-on-background"
                                        href="/my-team">Miguel
                                        Rivera Rios</a>.</p>

                        <p>Thank you for visiting, and for your ongoing interest and support.</p>

                        <p><i>The reality is that countless people supported me at various points
                                        throughout this journey.
                                        Some provided feedback on the book as I was writing it.
                                        Others offered their expertise as I promoted myself and the
                                        book.
                                        Many more simply lent their ears, shoulders, and hearts
                                        throughout this long journey.
                                        This page is an imperfect attempt at honoring and thanking all
                                        those who left their mark
                                        in ways big and
                                        small. There is no such thing as
                                        “proper” attribution when it comes to things like this. Even if
                                        I haven't mentioned your
                                        support
                                        specifically, know that I appreciate you.</i></p>

                </div>
        </div>
</div>