<section class="hero-container">
    <span id="credits-hero" class="hero">
    </span>
    <div class="hero-content">
        <p class="small-text">Thank You for Visiting</p>
        <p class="main-text">We did not get here<br>on our own</p>
    </div>
</section>

<div id="credits">
    <div id="left-credits">
        <p class="header">Site Credits*</p>

        <p>Some of the beautiful images you see on this site were made available by users of <a
                class="default-link icon default-icon" href="https://www.pexels.com/">Pexels.com</a>, which hosts
            inclusive, free stock photos and videos. Some of the featured users include:</p>
        <ul>
            <li><a class="default-link icon default-icon" href="https://www.pexels.com/@cottonbro">@cottonbro</a></li>
            <li><a class="default-link icon default-icon"
                    href="https://www.pexels.com/@divinetechygirl">@divinetechygirl</a></li>
            <li><a class="default-link icon default-icon"
                    href="https://www.pexels.com/@gustavo-fring">@gustavo-fring</a>
            </li>
            <li><a class="default-link icon default-icon" href="https://www.pexels.com/@inga-sv">@inga-sv</a>
            </li>
            <li><a class="default-link icon default-icon"
                    href="https://www.pexels.com/@joshua-mcknight-442355">@joshua-mcknight-442355</a></li>
            <li><a class="default-link icon default-icon"
                    href="https://www.pexels.com/@rethaferguson">@rethaferguson</a></li>
            <li><a class="default-link icon default-icon"
                    href="https://www.pexels.com/@the-5th-50003">@the-5th-50003</a></li>
        </ul>

        <p>The book that started it all, <a class="icon default-icon default-link"
                href="/to-all-the-places-ive-had-sex-before"> To All The Places I've Had Sex Before</a>, was published
            through <a class="icon default-icon default-link" href="/to-all-the-places-ive-had-sex-before">New Degree
                Press</a>, who also developed the promotional video on the <a class="icon default-icon default-link"
                href="/my-story">My
                Story</a> page was created by SOMEONE</p>
    </div>
    <div id="right-credits">
        <p>Communications and social media strategy were developed by Precious Jenkins</p>

        <p>LAUX's beautiful logo and the websites color palette was designed by <a
                class="icon default-icon default-link" href="http://www.amaranogee.com/">Amara Nogee</a></p>

        <p>The website was designed and developed by Miguel Rivera Rios</p>

        <p>Thank you for visiting, and for your ongoing interest and support.</p>

        <p><i>The reality is that countless people supported me at various points throughout this journey.
                Some provided feedback on the book as I was writing it.
                Others offered their expertise as I promoted myself and the book.
                Many more simply lent their ears, shoulders, and hearths throughout this long journey.
                This page is an imperfect attempt at honoring and thanking all those who left their mark in ways big and
                small. There is no such thing as
                “proper” attribution when it comes to things like this. Even if I haven't mentioned your support
                specifically, know that I appreciate you.</i></p>

    </div>
</div>