<section class="hero-container">
    <span id="credits-hero" class="hero">
    </span>
    <div class="hero-content">
        <p class="small-text">Thank You for Visiting</p>
        <p class="main-text">We did not get here<br>on our own</p>
    </div>
</section>

<div id="credits">
    <div id="left-credits">
        <p class="header">Site Credits*</p>

        <p>Some of the beautiful images you see on this site were made available by users of <a
                class="default-link icon default-icon" href="https://www.pexels.com/">Pexels.com</a>, which hosts
            inclusive, free stock photos and videos. Some of the featured users include:</p>
        <ul>
            <li><a class="default-link icon default-icon" href="https://www.pexels.com/@cottonbro">cottonbro</a></li>
            <li><a class="default-link icon default-icon" href="https://www.pexels.com/@divinetechygirl">Christina
                    Morillo</a></li>
            <li><a class="default-link icon default-icon" href="https://www.pexels.com/@rethaferguson">Retha
                    Ferguson</a></li>
            <li><a class="default-link icon default-icon" href="https://www.pexels.com/@inga-sv">Inga Seliverstova</a>
            </li>
            <li><a class="default-link icon default-icon" href="https://www.pexels.com/@joshua-mcknight-442355">Joshua
                    McKnight</a></li>
            <li><a class="default-link icon default-icon" href="https://www.pexels.com/@the-5th-50003">The 5th</a></li>
            <li><a class="default-link icon default-icon" href="https://www.pexels.com/@gustavo-fring">Gustavo Fring</a>
            </li>
        </ul>

        <p>The promotional video on the <a class="icon default-icon default-link" href="/my-story">My
                Story</a> page was created by SOMEONE</p>
    </div>
    <div id="right-credits">
<p>Communications and social media strategy were developed by Precious Jenkins</p>

<p>LAUX's beautiful logo and the websites color palette was designed by <a class="icon default-icon default-link" href="http://www.amaranogee.com/">Amara Nogee</a></p>

<p>The website was designed and developed by Miguel Rivera Rios</p>

<p>Thank you for visiting, and for your ongoing interest and support.</p>

<p><i>The reality is that there are far too many people who contributed their time and talents to the creation of this site and all the content within it to list. Site credits do a poor job of painting the real picture and honoring all those who left their mark in ways big and small. There is no such thing as “proper” attribution when it comes to things like this.</i></p>

    </div>
</div>