<section class="hero-container">
    <span id="media-hero" class="hero">
    </span>
    <div class="hero-content">
        <p class="small-text">My Media</p>
        <p class="main-text">Find all my publications and<br>recordings here</p>
    </div>
</section>

<div class="all-media-container">
    <div class="media-container">
        <a class="default-link" href="/to-all-the-places-ive-had-sex-before">
            <div class="icon image-and-caption" style="width:300px;">
                <div class="image-caption">
                    <i class="fa fa-chevron-down"></i>
                    <div>&nbsp;Read More About It</div>
                </div>
                <img class="image" src="../../images/temp-book-cover.png"
                    alt="To All the Places I've Had Sex Before Book Cover" height="300px">
            </div>
        </a>
        <div class="image-description">
            <p>
                What happens when you spend years keeping your secrets to yourself, unprocessed and unforgotten? When
                you have obtained an identity, but you’re not sure how or why?
            </p>
            <p>
                To All The Places I’ve Had Sex Before is an expirement in truth-telling. Writing it was an opportunity
                to acknowledge the past, to contextualize it with my history and culture, and to learn from it.
            </p>
        </div>
    </div>

    <div class="media-container">
        <a class="default-link" href="https://comedicpursuits.com/lauren-jordan-laux/">
            <div class="icon image-and-caption">
                <div class="image-caption">
                    <i class="fa fa-chevron-down"></i>
                    <div>&nbsp;Listen to the Whole Episode</div>
                </div>
                <img class="image" src="../../images/pussAndKooch.png" alt="Puss and Kooch Logo" height="300px">
            </div>
        </a>
        <div class="image-description">
            <p>
                Improviser Lauren Jordan, author name LAUX, sits down with podcast hosts Puss and Kooch to talk about
                her new book, To All the Places I’ve Had Sex Before, traveling book clubs, and why we should all be in
                therapy.
            </p>
        </div>
    </div>
</div>