<section id="video">
    <iframe src="https://www.youtube.com/embed/2ogbpTs69vg">
    </iframe>
</section>

<div class="mdc-layout-grid--main text-on-background">
    <div class="mdc-layout-grid__inner--main">
        <div
            class="mdc-layout-grid__cell--main mdc-layout-grid__cell--main--span-6-desktop mdc-layout-grid--align-center">
            <p><span class="text-on-dark-background">LAUX is committed to building a world where everyone feels
                    empowered</span> to both know their truth and change their truth when they want to.</p>
        </div>
        <div
            class="mdc-layout-grid__cell--main mdc-layout-grid__cell--main--span-6-desktop mdc-layout-grid--align-center">
            <h3>WHO IS SHE?</h3>
            <p>
                LAUX (she/her) is an educator, an activist, and an Aquarius. Her boundless curiosity leads to a love of
                wonder, adventure, and sometimes trouble. She has decided to take the path of truth-telling by exploring
                her thoughts, beliefs, and secrets in hopes of living a more fulfilled life.
            </p>
            <p>
                LAUX is a writer for <a href="https://www.publiclysexy.com/" class="link-on-background">Publicly
                    Sexy</a>
            </p>
        </div>
    </div>
</div>