<div class="fill-screen" tabindex="0" role="tabpanel" aria-labelledby="my-story-tab">
    <div id="video-container">
        <iframe id="video" src="https://www.youtube.com/embed/2ogbpTs69vg">
        </iframe>
    </div>
    <div id="my-story-container">
        <div id="my-story-container-first-row" class="my-story-row">
            <div class="my-story-short">
                <span class="first-part">LAUX is committed to building a world where everyone feels
                    empowered</span> to both know their truth and change their truth when they want to.
            </div>
            <div class="my-story-long">
                <b>WHO IS SHE?</b>
                <br><br>
                LAUX (she/her) is an educator, an activist, and an Aquarius. Her boundless curiosity leads to a love of
                wonder, adventure, and sometimes trouble. She has decided to take the path of truth-telling by exploring
                her thoughts, beliefs, and secrets in hopes of living a more fulfilled life.
                <br><br>
                LAUX is a writer for <a href="https://www.publiclysexy.com/"
                class="default-icon icon default-link">Publicly Sexy</a>
            </div>
        {{!-- <div class="my-story-row">
            LAUX is a writer for <a href="https://www.publiclysexy.com/"
                class="default-icon icon default-link">Publicly Sexy</a>.
        </div> --}}
        </div>
    </div>
</div>