{{#each (buildPages payload.items payload.word)}}
<div id="urban-glossary{{@index}}" class="urban-glossary">
    <div>
        <div class="book-title">
            <h3>The Urban Glossary</h3>
            <br>
            <h3>From</h3>
            <br>
            <h3>LAUX the Author</h3>
        </div>
    </div>
    <div></div>
    {{{pages}}}
    <div></div>
    <div></div>
</div>
{{/each}}