@use "utilities" as util;
@use "vendors" as vend;

#loading-overlay {
    background-color: util.$var-surface-color;
    position:fixed;
    height:100%;
    width:100%;
    z-index:1000000;
    top: 4px;
}