<a id="purchase-fab" href="/purchase-your-copy"
    class="mdc-fab app-fab--absolute progress-bar-click {{displayNone disableFAB}}" data-mdc-auto-init="MDCRipple">
    <div class="mdc-fab__ripple"></div>
    <span class="mdc-fab__label" style="display:none;">Purchase Your Copy</span>
    <span class="material-icons mdc-fab__icon">add_shopping_cart</span>
</a>

<main>

    {{{body}}}

</main>