<div id="logo-container">
    <a href="/">
        <img id="logo" src="../../images/LAUX-color/LAUX-color/LAUX-TheAuthor-yellow.png" alt="Laux Logo" height="40px">
    </a>
    &nbsp;&nbsp;<span class="pipe">|</span>&nbsp;&nbsp;
    {{> socialMediaLinks size="" classes="default-link tab-bar-icon" element="div"}}
</div>