<div id="logo-container">
    <a href="/">
            <div class="logo"></div>
    </a>
    &nbsp;&nbsp;<span class="pipe">|</span>&nbsp;&nbsp;

    <div class="social-media-buttons">
        {{> socialMediaLinks classes="default-link tab-bar-icon"}}
    </div>

</div>