<div id="my-story-menu" class="mdc-menu-my-story mdc-menu mdc-menu-surface" data-mdc-auto-init="MDCMenu">
    <ul id="my-story-list" class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
        {{!-- <li class="mdc-list-item" role="menuitem">
            <span class="mdc-list-item__text">
                <a href="/my-story" class="my-story-menu-item default-link progress-bar-click">
                    My Story
                </a>
            </span>
        </li> --}}
        <li class="mdc-list-item" role="menuitem">
            <span class="mdc-list-item__text">
                <a href="/my-team" class="my-story-menu-item default-link progress-bar-click">
                    My Team
                </a>
            </span>
        </li>
        <li class="mdc-list-item" role="menuitem">
            <span class="mdc-list-item__text">
                <a href="/contact-me" class="my-story-menu-item default-link progress-bar-click">
                    Contact Me
                </a>
            </span>
        </li>
    </ul>
</div>