<div class="mdc-snackbar mdc-snackbar--{{type}}" data-mdc-auto-init="MDCSnackbar">
    <div class="mdc-snackbar__surface">
        <div class="mdc-snackbar__label" role="status" aria-live="polite">
            {{message}}
        </div>
        <div class="mdc-snackbar__actions">
            <button title="Dismiss" class="mdc-icon-button mdc-snackbar__dismiss material-icons">
                close
            </button>
        </div>
    </div>
</div>