<a href="https://www.instagram.com/lauxtheauthor/"><i class="{{classes}} icon fab fa-instagram"></i></a>&nbsp;&nbsp;
<a href="https://www.facebook.com/LAUXtheauthor/"><i class="{{classes}} icon fab fa-facebook-f"></i></a>&nbsp;&nbsp;
<a href="https://twitter.com/LauxTheauthor"><i class="{{classes}} icon fab fa-twitter"></i></a>&nbsp;&nbsp;
<a href="https://medium.com/@lauxtheauthor"><i class="{{classes}} icon fab fa-medium-m"></i></a>