@font-face {
    font-family: "Beyno";
    src: url(../fonts/beyno/BEYNO/BEYNO.ttf) format("truetype"), url(fonts/beyno/BEYNO/BEYNO.otf) format("opentype");
}

@font-face {
    font-family: "CaviarDreams";
    src: url(../fonts/caviar_dreams/CaviarDreams.ttf) format("truetype");
}

@font-face {
    font-family: "CaviarDreamsBold";
    src: url(../fonts/caviar_dreams/CaviarDreams_Bold.ttf) format("truetype");
}